<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <i class="bi bi-film me-2" style="font-size: 2rem;"></i>
                <span class="fs-4">Movie Genre Classifier</span>
            </a>
        </header>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-1">
                <h1 class="display-5 fw-bold"><%= title %></h1>
                <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one
                    in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it
                    to your liking.</p>
            </div>
            <div class="container border-top">
                <form method="post">
                    <div class="row mt-2">
                        <% for(var c = 0; c < classes.length; c++) { %>
                            <div class="col">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="classes"
                                           value="<%= classes[c].genre %>"
                                    <% if(classes[c].active) { %> checked
                                            <% } %>
                                    >
                                    <label class="form-check-label"
                                           for="flexSwitchCheckDefault"><%= classes[c].genre %></label>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text">Limit of records by class</span>
                                <input type="number" class="form-control" name="limit" min="0" step="1"
                                       aria-describedby="basic-addon3" value="<%= configs.train_limit_of_records %>"
                                       required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <label class="input-group-text">Order by</label>
                                <select class="form-select" name="field" required>
                                    <option value="imdb_id"
                                    <% if(configs.train_order_by_field === 'imdb_id') { %> selected
                                            <% } %>
                                    >Imdb Id
                                    </option>
                                    <option value="original_title"
                                    <% if(configs.train_order_by_field === 'original_title') { %> selected
                                            <% } %>
                                    >Title
                                    </option>
                                    <option value="overview"
                                    <% if(configs.train_order_by_field === 'overview') { %> selected
                                            <% } %>
                                    >Overview
                                    </option>
                                    <option value="release_date"
                                    <% if(configs.train_order_by_field === 'release_date') { %> selected
                                            <% } %>
                                    >Release Date
                                    </option>
                                    <option value="genre"
                                    <% if(configs.train_order_by_field === 'genre') { %> selected
                                            <% } %>
                                    >Genre
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <label class="input-group-text">Order by</label>
                                <select class="form-select" name="order" required>
                                    <option value="ASC"
                                    <% if(configs.train_order_by === 'ASC') { %> selected
                                            <% } %>
                                    >ASC
                                    </option>
                                    <option value="DESC"
                                    <% if(configs.train_order_by === 'DESC') { %> selected
                                            <% } %>
                                    >DESC
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary me-3" onclick="saved()" type="submit" name="formBtn" value="save"><i class="bi bi-gear"></i> Save Settings</button>
                            <button class="btn btn-warning position-absolute" onclick="trainingEngine()" type="submit" name="formBtn" value="train">
                                <div class="spinner-border spinner-border-sm text-danger d-none" role="status" id='spinner'>
                                </div><i class="bi bi-arrow-repeat"id="iconTrain"></i>
                                Train Engine
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show d-none" role="alert" id="alertSaved">
                        <strong>Saved!</strong> The actual configuration as been saved.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>IMDB ID</th>
                    <th class="text-center">Title</th>
                    <th>Overview</th>
                    <th class="col-sm-2 text-center">Release Date</th>
                    <th>Genre</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < docs.length; i++) { %>
                    <tr>
                        <td><%= docs[i].imdb_id %></td>
                        <td class="text-center"><%= docs[i].original_title %></td>
                        <td><%= docs[i].overview %></td>
                        <td class="col-sm-2 text-center"><%= docs[i].release_date %></td>
                        <td><%= docs[i].genre %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <!-- Footer -->
        <footer class="pt-3 mt-4 text-muted border-top mt-auto">
            <div class="row">
                <div class="text-start col">André Alves & João Pereira</div>
                <div class="text-end col">Automatic Information Extraction © 2022</div>
            </div>
        </footer>
    </div>
</main>
<script>
    function trainingEngine() {
        const icon = document.getElementById("iconTrain");
        const spinner = document.getElementById("spinner");
        icon.classList.add("d-none");
        spinner.classList.remove("d-none");

    }
    function  saved() {
        const element = document.getElementById("alertSaved");
        element.classList.remove("d-none");
    }
</script>
</body>
</html>
